<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
	<!--Please fill important values.-->
    <add key="FromMailHost" value="smtp.gmail.com"/>
    <add key="FromMail" value=""/>
    <add key="FromMailPassword" value=""/>
    <add key="MailLangCode" value="tr"/>
    <add key="BinFolder" value="C:\InstagramLooker\bin\"/>
    <!--BEGIN - INSTAGRAM AUTH INFO-->
    <add key="UserName" value=""/>
    <add key="Password" value=""/>
    <!--END - INSTAGRAM AUTH INFO-->
    <add key="MailTo" value=""/>
    <add key="HardFollows" value=""/>
  </appSettings>
</configuration>